{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template theme_pyu/drawers

    PYU drawer template with gradient hero section for dashboard/frontpage.
}}
{{> theme_boost/head }}

<body {{{ bodyattributes }}}>
{{> core/local/toast/wrapper}}
<div id="page-wrapper" class="d-print-block">

    {{{ output.standard_top_of_body_html }}}

    <header class="pyu-brand-header d-print-none">
        <div class="pyu-brand-inner">
            <div class="pyu-brand-left">
                {{{ output.render_site_logo }}}
                <div class="pyu-brand-text">
                    <div class="pyu-brand-title">HỆ THỐNG HỌC TẬP TRỰC TUYẾN</div>
                    <div class="pyu-brand-subtitle">TRƯỜNG ĐẠI HỌC PHÚ YÊN</div>
                </div>
            </div>
            <div class="pyu-brand-right">
                {{{ output.search_box }}}
            </div>
        </div>
    </header>

    {{> theme_boost/navbar }}
    {{#courseindex}}
        {{< theme_boost/drawer }}
            {{$id}}theme_boost-drawers-courseindex{{/id}}
            {{$drawerheadercontent}}
                {{> theme_boost/courseindexdrawercontrols}}
            {{/drawerheadercontent}}
            {{$drawerclasses}}drawer drawer-left {{#courseindexopen}}show{{/courseindexopen}}{{/drawerclasses}}
            {{$drawercontent}}
                {{{courseindex}}}
            {{/drawercontent}}
            {{$drawerpreferencename}}drawer-open-index{{/drawerpreferencename}}
            {{$drawerstate}}show-drawer-left{{/drawerstate}}
            {{$tooltipplacement}}right{{/tooltipplacement}}
            {{$closebuttontext}}{{#str}}closecourseindex, core{{/str}}{{/closebuttontext}}
        {{/ theme_boost/drawer}}
    {{/courseindex}}
    {{#hasblocks}}
        {{< theme_boost/drawer }}
            {{$id}}theme_boost-drawers-blocks{{/id}}
            {{$drawerclasses}}drawer drawer-right{{#blockdraweropen}} show{{/blockdraweropen}}{{/drawerclasses}}
            {{$drawercontent}}
                <div class="d-print-none">
                    {{{ addblockbutton }}}
                    {{{ sidepreblocks }}}
                </div>
            {{/drawercontent}}
            {{$drawerpreferencename}}drawer-open-block{{/drawerpreferencename}}
            {{$forceopen}}{{#forceblockdraweropen}}1{{/forceblockdraweropen}}{{/forceopen}}
            {{$drawerstate}}show-drawer-right{{/drawerstate}}
            {{$tooltipplacement}}left{{/tooltipplacement}}
            {{$drawercloseonresize}}1{{/drawercloseonresize}}
            {{$closebuttontext}}{{#str}}closeblockdrawer, core{{/str}}{{/closebuttontext}}
        {{/ theme_boost/drawer}}
    {{/hasblocks}}
    <div id="page" data-region="mainpage" data-usertour="scroller" class="drawers {{#courseindexopen}}show-drawer-left{{/courseindexopen}} {{#blockdraweropen}}show-drawer-right{{/blockdraweropen}} drag-container">
        <div id="topofscroll" class="main-inner">
            <div class="drawer-toggles d-flex">
                {{#courseindex}}
                    <div class="drawer-toggler drawer-left-toggle open-nav d-print-none">
                        <button
                            class="btn icon-no-margin"
                            data-toggler="drawers"
                            data-action="toggle"
                            data-target="theme_boost-drawers-courseindex"
                            data-bs-toggle="tooltip"
                            data-bs-placement="right"
                            title="{{#str}}opendrawerindex, core{{/str}}"
                        >
                            <span class="visually-hidden">{{#str}}opendrawerindex, core{{/str}}</span>
                            {{#pix}} t/index_drawer, moodle {{/pix}}
                        </button>
                    </div>
                {{/courseindex}}
                {{#hasblocks}}
                    <div class="drawer-toggler drawer-right-toggle ms-auto d-print-none">
                        <button
                            class="btn icon-no-margin"
                            data-toggler="drawers"
                            data-action="toggle"
                            data-target="theme_boost-drawers-blocks"
                            data-bs-toggle="tooltip"
                            data-bs-placement="right"
                            title="{{#str}}opendrawerblocks, core{{/str}}"
                        >
                            <span class="visually-hidden">{{#str}}opendrawerblocks, core{{/str}}</span>
                            <span class="dir-rtl-hide">{{#pix}}t/blocks_drawer, core{{/pix}}</span>
                            <span class="dir-ltr-hide">{{#pix}}t/blocks_drawer_rtl, core{{/pix}}</span>
                        </button>
                    </div>
                {{/hasblocks}}
            </div>
            {{#showhero}}
            <div class="pyu-hero" role="banner">
                <h1 class="pyu-hero-title">{{heroheading}}</h1>
                <p class="pyu-hero-subtitle">{{herosubheading}}</p>
            </div>
            {{/showhero}}
            {{{ output.full_header }}}
            {{#secondarymoremenu}}
                <div class="secondary-navigation d-print-none">
                    {{> core/moremenu}}
                </div>
            {{/secondarymoremenu}}
            <div id="page-content" class="pb-3 d-print-block">
                <div id="region-main-box">
                    {{#hasregionmainsettingsmenu}}
                    <div id="region-main-settings-menu" class="d-print-none">
                        <div> {{{ regionmainsettingsmenu }}} </div>
                    </div>
                    {{/hasregionmainsettingsmenu}}
                    <div id="region-main">

                        {{#hasregionmainsettingsmenu}}
                            <div class="region_main_settings_menu_proxy"></div>
                        {{/hasregionmainsettingsmenu}}
                        {{{ output.course_content_header }}}
                        {{#headercontent}}
                            {{> core/activity_header }}
                        {{/headercontent}}
                        {{#overflow}}
                            <div class="container-fluid tertiary-navigation">
                                <div class="navitem">
                                    {{> core/url_select}}
                                </div>
                            </div>
                        {{/overflow}}
                        {{{ output.main_content }}}
                        {{{ output.activity_navigation }}}
                        {{{ output.course_content_footer }}}

                    </div>
                </div>
            </div>
        </div>

        <div class="pyu-footer mt-4">
            <div class="pyu-footer-inner">
                <div class="pyu-footer-col pyu-footer-logo">
                    {{{ output.render_site_logo }}}
                </div>
                <div class="pyu-footer-col">
                    <div class="pyu-footer-heading">THÔNG TIN</div>
                    <div class="pyu-footer-line"><a href="https://pyu.edu.vn" target="_blank" rel="noreferrer">Trường Đại học Phú Yên</a></div>
                    <div class="pyu-footer-line"><a href="https://pyu.edu.vn" target="_blank" rel="noreferrer">Trung tâm Công nghệ thông tin</a></div>
                </div>
                <div class="pyu-footer-col">
                    <div class="pyu-footer-heading">LIÊN HỆ</div>
                    <div class="pyu-footer-line">Địa chỉ: 01 Nguyễn Văn Huyên - Phường Tuy Hòa - Tỉnh Đắk Lắk</div>
                    <div class="pyu-footer-line">Điện thoại: 0257.3843025</div>
                    <div class="pyu-footer-line">Fax: 0257.3842618 - 3842312</div>
                    <div class="pyu-footer-line">Email: info@pyu.edu.vn</div>
                </div>
                <div class="pyu-footer-col pyu-footer-apps">
                    <div class="pyu-footer-heading">ỨNG DỤNG DI ĐỘNG</div>
                    <div class="pyu-footer-line">
                        <span class="pyu-footer-appbtn">Google Play</span>
                        <span class="pyu-footer-appbtn">App Store</span>
                    </div>
                </div>
            </div>
            <div class="pyu-footer-bottom text-center mt-2">
                © {{#str}} pluginname, theme_pyu {{/str}} - Phát triển trên nền tảng Moodle 5.1.1+
            </div>
        </div>

        {{> theme_boost/footer }}
    </div>
    {{{ output.standard_after_main_region_html }}}
</div>

</body>
</html>
{{#js}}
M.util.js_pending('theme_boost/loader');
require(['theme_boost/loader', 'theme_boost/drawer'], function(Loader, Drawer) {
    Drawer.init();
    M.util.js_complete('theme_boost/loader');
});
{{/js}}
