{{!
    PYU login layout - adds university header and footer
}}
{{> theme_boost/head }}

<body {{{ bodyattributes }}}>
{{> core/local/toast/wrapper}}

<div id="page-wrapper">

    {{{ output.standard_top_of_body_html }}}

    <div id="page" class="container py-5 pyu-login-page">
        <div class="row justify-content-center">
            <div class="col-12 col-md-10 col-lg-8 col-xl-5">
                <div class="text-center mb-3 pyu-login-heading">
                    <div class="pyu-login-title">Trường Đại học Phú Yên</div>
                    <div class="pyu-login-subtitle">Hệ thống Học tập Trực tuyến PYU LMS</div>
                </div>

                <div class="login-wrapper">
                    <div class="login-container">
                        {{{ output.main_content }}}
                    </div>
                </div>

                <div class="pyu-login-footer text-center mt-4">
                    <div>Trường Đại học Phú Yên</div>
                    <div>Địa chỉ: 01 Nguyễn Văn Huyên - Phường Tuy Hòa - Tỉnh Đắk Lắk</div>
                    <div>Điện thoại: 0257.3843025 - Fax: 0257.3842618 - 3842312</div>
                </div>
            </div>
        </div>
    </div>

</div>

</body>
</html>
{{#js}}
M.util.js_pending('theme_boost/loader');
require(['theme_boost/loader'], function() {
  M.util.js_complete('theme_boost/loader');
});
{{/js}}

