{{!
    @template theme_phuyen/columns2

    Phu Yen University - Sidebar left + Main content.
}}
{{> theme_boost/head }}

<body {{{ bodyattributes }}}>
{{> core/local/toast/wrapper}}
<div id="page-wrapper" class="d-print-block phuyen-page">

    {{{ output.standard_top_of_body_html }}}

    {{> theme_phuyen/header }}

    <main id="page" class="container-fluid phuyen-main-wrapper d-print-block">
        {{#showhero}}
        <section class="phuyen-hero" role="banner">
            <h1 class="phuyen-hero-title">{{heroheading}}</h1>
            <p class="phuyen-hero-subtitle">{{herosubheading}}</p>
            <div class="phuyen-cta-group mt-3">
                <a href="{{config.homeurl}}" class="btn btn-primary phuyen-btn-enter">{{ctaprimary}}</a>
                <a href="{{config.wwwroot}}/course/" class="btn btn-outline-light phuyen-btn-enter">{{ctasecondary}}</a>
            </div>
        </section>
        {{/showhero}}

        <div id="page-content" class="d-flex flex-wrap phuyen-content {{#haspreblocks}}has-sidebar{{/haspreblocks}} d-print-block">
            {{#haspreblocks}}
            <aside class="phuyen-sidebar-column" aria-label="{{#str}}blocks, core{{/str}}">
                <div data-region="blocks-column" class="d-print-none">
                    {{{ sidepreblocks }}}
                </div>
            </aside>
            {{/haspreblocks}}

            <div id="region-main-box" class="phuyen-main-column flex-grow-1">
                {{{ output.full_header }}}
                <div id="region-main" class="phuyen-main-content">
                    {{{ output.course_content_header }}}
                    {{#headercontent}}
                        {{> core/activity_header }}
                    {{/headercontent}}
                    {{{ output.main_content }}}
                    {{{ output.activity_navigation }}}
                    {{{ output.course_content_footer }}}
                </div>
            </div>
        </div>
    </main>

    {{{ output.standard_after_main_region_html }}}
    {{> theme_phuyen/footer }}
</div>

</body>
</html>
{{#js}}
M.util.js_pending('theme_boost/loader');
require(['theme_boost/loader'], function() {
    M.util.js_complete('theme_boost/loader');
});
{{/js}}
